**/.DS_Store

zsh/.zsh_history
zsh/.zcompdump
zsh/.zcompdump*
zsh/.zcompcache
zsh/.zsh_sessions

fish/functions/
fish/completions/
fish/conf.d/
fish/fish_variables

nvim/.luarc.json
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/lsp

tmux/swap-pane
tmux/plugins

iterm2/

karabiner/automatic_backups/

newsboat/cache.db
newsboat/history.cmdline
newsboat/history.search
newsboat/urls
